<!DOCTYPE html>
<html lang="en" ng-app="NarrowItDownApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body>
    <div class="container" ng-controller="NarrowItDownController as menu">
        <h1 style="color: white;">Narrow Down Your Chinese Menu Choice</h1>
        <div class="search">
            <input type="text" placeholder="Enter description (for eg. chicken)" class="form-control" ng-model="menu.shortName">
            <div class="narrow-button">
                <button class="btn btn-outline-light" ng-click="menu.matchedMenuItems(menu.shortName)">Narrow It Down For Me!</button>
            </div>
        </div>
        <found-items found-items="menu.found" on-remove="menu.removeMenuItem(index)" on-empty="menu.message"></found-items>
    </div>

</body>

</html>